langchain
langchain-chroma
langchain-core
langchain-community
langchain-deepseek
langchain_huggingface
langchain_neo4j
langgraph
langsmith
dotenv
ipykernel
ipywidgets
infinopy
bs4
pymupdf
nest_asyncio
pyppeteer
numpy<2
chromadb
sentence-transformers
unstructured
python-docx
python-pptx
docx2txt
akshare
deepagents
dashscope
